<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Insert</title>
</head>
<body class="bg-blue-600">
   <div class="flex w-6/12 text-center">
        <h1 class="text-white font-bold text-3xl ml-12 mt-12">
            <p>SILAHKAN MASUKKAN KARTU <br> ANDA</p>
        </h1>
   </div>
   <div class="mx-auto mr-20 w-4/12">
        <a href="pilihbahasa.html">
            <img src="/insert.png" alt="">
        </a>
   </div>
   <div class="w-4/12">
        <h1 class="text-white font-bold text-3xl ml-12">
            <p>PLEASE INSERT YOUR CARD</p>
        </h1>
   </div>
</body>
</html>