<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Language</title>
</head>
<body class="bg-blue-600">
    <div class="mt-12">
        <h1 class="text-white text-3xl font-bold text-center">SILAHKAN PILIH BAHASA ANDA</h1>
    </div>
    <div class="flex space-x-6 justify-center items-center mt-12">
        <hr class="w-6/12">
    </div>
    <div class="mt-12">
        <h1 class="text-white text-3xl font-bold text-center">PLEASE SELECT YOUR LANGUAGE</h1>
    </div>
    <div class="mt-12 mr-6 text-right">
        <a href="MasukPin.html" class="text-white text-3xl font-bold space-x-8">INDONESIA -></a>
    </div>
    <div class="mt-12 mr-6 text-right">
        <h3 class="text-white text-3xl font-bold">ENGLISH -></h3>
    </div>
    <div class="mt-12">
        <h1 class="text-white text-3xl font-bold text-center">TO OBTAIN CARD PRESS CANCEL</h1>
    </div>
    <div class="flex space-x-6 justify-center items-center mt-12">
        <hr class="w-6/12">
    </div>
    <div class="mt-12">
        <h1 class="text-white text-3xl font-bold text-center">TEKAN 'CANCEL' UNTUK MEMBATALKAN</h1>
    </div>
</body>
</html>